.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #092327;
  --secondary-color: #0B5351;
  --tertiary-color: #00A9A5;
  --accent-color: #4E8098;
  --background-color: #90C2E7;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  #about-me img {
    max-width: 200px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-links a {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}